* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 48px;
}
body {
    font-size: 16px;
    background-color: white;
    color: black;
}

.hidden {
    display: none;
}

.icon-container {
    text-align: center;
}

.wrapper {
    width: 15%;
    display: inline-block;

    padding: 1em;
}

.wrapper img {
    width: 90%;
}

.wrapper:hover {
    fill: white;
    transform: scale(50%);
    cursor: pointer;
}